input[type="file"] {
  border: 1px dotted;
  padding: 24px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
}

.content {
  display: grid;
  gap: 2rem;
}

.product-button {
  margin: 24px 0;
}
.mb-4 {
  margin-bottom: 16px;
}
.m-4 {
  margin: 16px;
}
.my-4 {
  margin: 16px 0;
}
.pb-4 {
  margin-bottom: 16px;
}
.p-4 {
  margin: 16px;
}
.py-4 {
  margin: 16px 0;
}

@media only screen and (max-width: 50rem) {
  ul {
    display: block;
  }

  li {
    padding-bottom: 1rem;
  }
}
