.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.svg-container {
  width: 100px;
  height: 100px;
}

.svg-card {
  display: flex;
  justify-content: space-between;
}
.color-badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 4px;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: gray;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: darkgray;
}

textarea {
  width: 100%;
}

.content {
  display: grid;
  gap: 2rem;
}

.product-button {
  margin: 24px 0;
}
.mb-4 {
  margin-bottom: 16px;
}
.m-4 {
  margin: 16px;
}
.my-4 {
  margin: 16px 0;
}
.my-8 {
  margin: 32px 0;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-10 {
  margin-bottom: 40px;
}
.mb-12 {
  margin-bottom: 48px;
}
.pb-4 {
  margin-bottom: 16px;
}
.p-4 {
  margin: 16px;
}
.py-4 {
  margin: 16px 0;
}

@media only screen and (max-width: 50rem) {
  ul {
    display: block;
  }

  li {
    padding-bottom: 1rem;
  }
}
