{% style %}
  .title {
    font-size: 24px;
    font-weight: 600;
  }
  .desc {
    font-size: 16px;
  }
{% endstyle %}

<div>
  <h3 class="title">{{ product.metafields.global.testing_pc }}</h3>
  <p class="desc">{{ product.description }}</p>
</div>

{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "stylesheet": "style.css",
  "templates": ["product"]
}
{% endschema %}
